body {
  background: #fcfeff;
  color: #2e2e2e;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  transition: 0.3s;
  z-index: 2;
}

.header.float-active {
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 414px) {
  .header {
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header-logo {
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: -0.08em;
  color: #f7cd8f;
  font-family: "Kaisei HarunoUmi", serif;
}

